/*
------------------------------------------
CSS Reset
------------------------------------------
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
------------------------------------------
Colours
------------------------------------------
*/

html {
  --accent-color: #48a169;
  --accent-color-light: #54b578;
  --main-background-color: #FBDDE8;
  --paragraph-text-color: #181818;
  --heading-text-color: #FFF;
  --index-text-color: #fad9b8;
  --section-background-color: #fc70a3;
}

/*
------------------------------------------
Typography
------------------------------------------
*/

html {
  font-family: 'DotGothic16', sans-serif;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0.5em;
  padding-top: 1em;
}

h2 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1em;
  padding: 0.9em;
}

h3 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.2em;
  padding: 1em;
  line-height: 2em;
}

h4 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  padding-top: 1em;
}

p {
  color: var(--paragraph-text-color);
  padding: 1em;
}

.emphasize {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--index-text-color);
}

footer p {
  color: var(--heading-text-color);
  font-size: 0.7em;
}

/*
------------------------------------------
Grid
------------------------------------------
*/

*, 
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

html {
  background-color: var(--main-background-color);
  text-align: center;
}

section {
  background-color: var(--section-background-color);
  margin: 5%;
}

header.container {
  position: static;
  padding: 0px;
  color: var(--heading-text-color);
  background-color: var(--accent-color);
}

footer.container {
  position: static;
  padding: 0px;
  color: var(--heading-text-color);
  background-color: var(--accent-color);
}

p:first-of-type {
  padding-top: 40px;
}

p:last-of-type {
  padding-bottom: 40px;
}

p.single-paragraph {
  padding: 30px;
}

.welcome {
  color: var(--heading-text-color);
  background-image: url(../images/matrix-code-image.jpg); 
  background-color: #f5a4c1;
  background-blend-mode: soft-light;
  background-size: cover;
}

.pages-index {
  background-color: var(--accent-color-light);
  padding: 1em;
}

p.intro-section {
  padding: 2rem;
  padding-bottom: 200px;
}

a {
  text-decoration: none;
  color: var(--index-text-color);
}

#site-title {
  color: var(--heading-text-color);
}

a.button {
  background-color: var(--accent-color-light);
  padding: 1.5em;
  display: inline-block;
  border-radius: 30px;
}

ul {
    list-style: none;
}

div.blog-list {
  text-align: center;
}

ol {
  display: inline-block;
  list-style: decimal;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

img {
  width: 100%;
  padding: 1em;
}

td {
  padding: 1em;
}
#row-1 {
  border-bottom: solid 2px var(--accent-color);
}

.margin-demo {
  display: inline-block;
  width: 150px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 0em;
  font-size: 0em;
}

.add-margin {
  margin: 20px;
}

.add-border {
  border: 2px solid var(--paragraph-text-color);
}

.add-styled-border {
  border: 5px dashed var(--accent-color);
}

.add-padding {
  padding: 10px;
}

.add-more-padding {
  padding: 40px;
}

p.stripped {
  padding: 0;
  margin: 0;
  border: 0;
}

p#coding-example {
  padding: 10px;
  padding-top: 50px;
  margin: 100px;
  border: 10px double var(--accent-color);
}

.round-photo {
  width: 200px;
  border-radius: 50%;
}

@media (min-width: 600px) {

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
    padding-bottom: 2em;
  }

  h3 {
    font-size: 1.5em;
    padding: 2em;
  }

  p {
    font-size: 1.3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  section {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  section.intro-section {
    padding-top: 0;
  }

  table {
    margin-right: 10%;
    margin-left: 10%;
  }

  img {
    width: 70%;
  }

}

@media (min-width: 930px) {
  h1 {
    display: inline-block;
    text-align: left;
    margin-left: 0px;
  }

  h2 {
    display: inline-block;
    text-align: right;
    margin-right: 0px;
    vertical-align: middle;
  }

  h3 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 3em;
  }

  p {
    font-size: 1.4em;
  }

  a.button {
    font-size: 1.2em;
    border-radius: 50px;
  }

  header.container {
    margin-left: 0px;
    margin-right: 0px;
  }

  ul {
    font-size: 1.7em;
    line-height: 1.6em;
  }

  footer p {
    font-size: 1.5em;
  }

  img {
    width: 60%;
  }

  
}







